@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

.header {
  background-color: #cc83f1;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}

.header h1 {
  margin: 0 7px; /* Optional: Add some spacing between the img and h1 */
}

.menu {
  margin: 15px;
  height: 25px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 6rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}

.text-sidebar {
  text-align: center;
  padding-top: 10px;
}

.profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.social-medias {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  gap: 1rem;
}

.social-midia {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  border-radius: 100%;
  align-items: center;
  margin: 5px;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
  height: 100vh;
}

.footer {
  background-color: #cc83f1;
  height: 80px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
}

.footer-content {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.footer img {
  width: 25px;
  height: auto;
  gap: 2rem;
}

.social-midia-footer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
