---
layout: default
---

{@io.quarkiverse.roq.frontmatter.runtime.model.Site site}


<header class="header">
  <span class="material-symbols-outlined" alt="Hamburger Icon">menu</span>
  <h1>Welcome to Quarkus Blog!(Tem que ser var)</h1>
  </div>
</header>
<aside class="sidebar">
  <header>
    <div class="about">
      {#if site.img}
      <div class="cover-author-image">
        <a href="{}"><img src="{site.img}" alt="{site.data.name}"></a>
      </div>
      {/if}
      <div class="author-name">{site.data.name}</div>
      <p>{site.description.markdownify.safe}</p>
    </div>
    <div class="menu">
      <h3 class="menu-title">MENU</h3>
      <ul>
        {#for item in cdi:menu.items}
        <li><a href="{site.url(item.path)}" {#if item.target??}target="{item.target}"{/if}><i class="{item.icon}"></i>{item.title}</a> </li>
        {/for}
      </ul>
    </div>
  </header> <!-- End Header -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {#insert /}
</div>
<footer class="footer">
  <section class="contact">
    <div class="copyright">
      {#if site.img}
      <img class="page-image" src="{roq-icon.svg}" alt="{page.title}">  
      <p>{global:now.format('Y')} &copy; {site.data.simple-name} <br><p></p>
      Made for <a href="https://github.com/RayzaAnchayhua" title="Visite meu Github!" target="_blank">RayzaAnchayhua</a></p>
    </div>
  
    <h3 class="contact-social-midias">Contact us</h3>
    <<ul>
      {#if site.data.social-twitter??}
      <li><a href="https://twitter.com/{site.data.social-twitter}" target="_blank"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a></li>
      {/if}
      {#if site.data.social-facebook??}
      <li><a href="https://facebook.com/{site.data.social-facebook}" target="_blank"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>
      {/if}
      {#if site.data.social-github??}
      <li class="github"><a href="http://github.com/{site.data.social-github}" target="_blank"><i class="fa-brands fa-github"></i></a></li>
      {/if}
      {#if site.data.social-linkedin??}
      <li class="linkedin"><a href="https://in.linkedin.com/in/{site.data.social-linkedin}" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
      {/if}
      {#if site.data.social-email??}
      <li class="email"><a href="mailto:{site.data.social-email?}"><i class="fa fa-envelope-o"></i></a></li>
      {/if}
    </ul>
    
  </section> <!-- End Section Contact -->
    
</footer> <!-- End Footer -->