---
layout: roq-default/main
---


{@io.quarkiverse.roq.frontmatter.runtime.model.NormalPage page}

<div class="hero">
  {#insert /}
</div>
{#if site.collections.get('posts')}
<div class="posts">
  <h2 class="recents">Recent posts</h2>
  {#for post in site.collections.get('posts').paginated(page.paginator)}
  <article class="post">
    {#if post.image}
    <a class="post-thumbnail" style="background-image: url({post.image})" href="{post.url}"></a>
    {/if}
    <div class="post-content">
      <h2 class="post-title"><a href="{post.url}">{post.title}</a></h2>
      <p>{post.description}</p>
      <div class="post-date">
        <span><i class="fa-regular fa-calendar-days"></i></span>
        <span class="post-date">{post.date.format('yyyy, MM, dd')}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
        <span class="post-words">
          {post.readTime} minute read <i class="fa-solid fa-glasses"></i>
        </span>
      </div>
    </div>
  </article>
  {/for}
</div>

{#include partials/roq-default/pagination.html/}
{/if}